<main>
  <header>
    <div id="logo">
      <img src="/assets/applogo.PNG" alt="App logo">
      <h1>ñahsdñlfkasjfd</h1>
    </div>
    <div id="welcome">
      <h1>Bienvenido </h1>
    </div>
    <div id="profile-pic">
      <img src="/assets/profilepic.PNG" alt="Profile pic">
    </div>
  </header>
  <div id="horizontal-line"></div>
  <nav class="nav">
    <ul>
        <li><a routerLink="/users/1">Inicio</a></li>
        <div id="vertical-line"></div>
        <li><a routerLink="/series">Agregar Serie</a></li>
        <div id="vertical-line"></div>
        <li><a routerLink="/users/1/bills">Ver Cargos</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</main>