.container {
    margin: 2em;
    width: 90%;
 }
 
 .series-section p{
    font-weight: bold;
    font-family: Georgia, serif;
 }

 .list-of-series {
    border: 1px solid gray;
    min-height: 6em;
    border-radius: 6px;

 }

 .list-of-series ul {
   list-style-type:none;   
   margin: 0; 
   padding: 0;
   
 }

 .list-of-series ul li {
   padding: 0.2em;
   font-family: Georgia, serif;
 }
 
 .footer {
     border: 1px solid black;
     margin-top: 2%;
     height: 10vh;
 }